.all {
  background: rgba(211, 206, 206, 0.74);
}

#canvas {
  border: solid;
  border-color: rgba(211, 206, 206, 0.74);
  background: white;
  border-width: 3px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
  border-radius: 15px;
}

.canvasBox {
  display: inline-block;
  vertical-align: middle;
}

.user {
  border-radius: 15px;
  background-color: darkorange;
  margin-left: 4%;
  vertical-align: middle;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 560px;
  height: 465px;
  padding-top: 100px;
}

.draw-heading {
  font-size: 50px;
  color: #ffffff;
}

.buttonbox {
  margin-top: 50px;
}

.number {
  font-size: 75px;
  color: #ffffff;
}

.draw-button,
.trigger {
  width: 100px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 18px 20px;
  margin: 0px 4px;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 0px 1px 0px #ffffff;
}

.trigger {
  margin-top: 20px;
}

.draw-button:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
.draw-button:active {
  position: relative;
  top: 1px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-size: 22px;
  padding: 2rem 2rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
